<a href="https://colab.research.google.com/github/kamangirkhan/Data110/blob/main/ArashNateghian_HW_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Implement a function that will:

  o	Ask user for four first names

  o	Ask for four last names
  
  o	Generate a new list of names (first + name)

In [13]:
#Input
fname = input("Enter four first names separated by commas: ").split(",")
lname = input("Enter four last names separated by commas: ").split(",")

generated =[]
for i in range(len(fname)):
  generated.append(f"{fname[i]} {lname[i]}")
print(f"First names: {fname}")
print(f"Last names: {lname}")
print(f"Generated: {generated}")

Enter four first names separated by commas: arash, emitis, azadeh, ashkan
Enter four last names separated by commas: nategh, zia, nateghi, delavar
First names: ['arash', ' emitis', ' azadeh', ' ashkan']
Last names: ['nategh', ' zia', ' nateghi', ' delavar']
Generated: ['arash nategh', ' emitis  zia', ' azadeh  nateghi', ' ashkan  delavar']

2.	Write code to:

  o	Randomly generate a list of 25 unique numbers where each value is between 100 and 200 (inclusively)

  o	Save the list, in descending order, to a Ô¨Åle named numbers.txt, one number per line

In [2]:
import random

numbers = random.sample(range(100, 201), 25) # Generate 25 unique random numbers between 100 and 200 (inclusive)

with open("numbers.txt", "w") as file: # Write each number to a file (one per line)
    for num in numbers:
        file.write(str(num) + "\n")

print("25 unique numbers saved to numbers.txt")

25 unique numbers saved to numbers.txt