<a href="https://colab.research.google.com/github/kamangirkhan/Data110/blob/main/ArashNateghian_Activity_2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Print each number in the list.

In [1]:
numbers = [1, 2, 3, 4, 5]
for number in numbers:
    print(number)

1
2
3
4
5

Print the numbers from 1 to 5 using the range() function.

In [2]:
for number in range(1, 6):
    print(number)

1
2
3
4
5

Print the multiplication table of numbers from 1 to 5.

In [3]:
for i in range(1, 6):
    for j in range(1, 11):
        print(i * j, end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50

Print the numbers from 1 to 5, but exit the loop if the number is 3.

In [4]:
for number in range(1, 6):
    if number == 3:
        break
    print(number, end= " ")

1 2

Print the even numbers from 1 to 11.

In [6]:
for number in range(1, 11):
    if number % 2 == 1:
        continue
    print(number, end= " ")

2 4 6 8 10

Print the prime numbers from 1 to 100.

In [8]:
print ("Prime numbers between 1 and 100 are:")
for number in range(2, 101):
    for i in range(2, number):
        if number % i == 0:
            break
    else:
        print(number, end= " ")

Prime numbers between 1 and 100 are:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

Print numbers from 1 to 5 using while loop.

In [10]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

Find the sum of numbers from 1 to 10 using while loop.

In [11]:
total = 0
i = 1
while i <= 10:
    total += i
    i += 1
print("The sum is:", total)

The sum is: 55

Print even numbers from 1 to 10 using while loop.

In [15]:
i = 1
while i <= 10:
    if i % 2 == 0:
        print(i)
    i += 1

2
4
6
8
10

Print numbers from 1 to 5, but exit the loop if the number is 3.

In [13]:
i = 1
while i <= 5:
    if i == 3:
        break
    print(i)
    i += 1

1
2

Print odd numbers from 1 to 10 using while loop and skip even numbers.

In [14]:
i = 1
while i <= 10:
    if i % 2 == 0:
        i += 1
        continue
    print(i)
    i += 1

1
3
5
7
9

In [23]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

for x in list1:
    for y in list2:
        print(x, y, end= '\t')

1 a	1 b	1 c	2 a	2 b	2 c	3 a	3 b	3 c

Print the multiplication table using nested loops.

In [24]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end='\t')
    print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

Iterate over a 2D list using nested loops.

In [25]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

for row in matrix:
    for col in row:
        print(col, end=' ')
    print()

1 2 3
4 5 6
7 8 9

creates a list containing the squares of the numbers 1 to 5.

In [28]:
squares = [x**2 for x in range(1, 6)]
print (squares)

[1, 4, 9, 16, 25]

Use enumerate() for loops that require the index:

In [29]:
fruit = ['apple', 'banana', 'cherry']
for i, fruit in enumerate(fruit):
  print(i, fruit)

0 apple
1 banana
2 cherry

Use zip() for looping over multiple lists:

In [30]:
names = ['Arash', 'Emitis', 'Azadeh']
ages = [44, 42, 42]
for name, age in zip(names, ages):
    print(name, age)

Arash 44
Emitis 42
Azadeh 42

Use continue to skip an iteration:

In [31]:
for i in range(1, 11):
    if i == 3 or i == 6:
        continue
    print(i)

1
2
4
5
7
8
9
10

Write code to draw a sideways tree pointing right.

In [8]:
for i in range(2, 13):
    print (i * '*')

for i in range (11, 1, -1):
    print (i*'*')

**
***
****
*****
******
*******
********
*********
**********
***********
************
***********
**********
*********
********
*******
******
*****
****
***
**